apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: 537272127148.dkr.ecr.us-east-1.amazonaws.com/product-service:latest
          ports:
            - containerPort: 8001
          env:
            - name: DATABASE_URL
              value: "postgresql://admin:admin123@postgres:5432/microservices_db"
            - name: REDIS_URL
              value: "redis:6379"

