name: CD - Deploy to EKS

on:
  workflow_run:
    workflows: ["CI - Build & Push Product & Inventory to ECR"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4

      # ------------------------
      # CONFIGURAR CREDENCIALES AWS
      # ------------------------
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      # ------------------------
      # OBTENER KUBECONFIG DEL CLUSTER
      # ------------------------
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --region ${{ secrets.AWS_REGION }} \
            --name ${{ secrets.EKS_CLUSTER }}

      # ------------------------
      # INSTALAR LOAD BALANCER CONTROLLER
      # ------------------------
      - name: Install AWS Load Balancer Controller
        run: |
          kubectl apply -f https://github.com/jetstack/cert-manager/releases/latest/download/cert-manager.yaml

          kubectl apply -k \
            "github.com/aws/eks-charts/stable/aws-load-balancer-controller//crds?ref=master"

          helm repo add eks https://aws.github.io/eks-charts
          helm repo update

          helm upgrade -i aws-load-balancer-controller eks/aws-load-balancer-controller \
            --set clusterName=${{ secrets.EKS_CLUSTER }} \
            --set serviceAccount.create=false \
            --set region=${{ secrets.AWS_REGION }} \
            --set vpcId=${{ secrets.VPC_ID }} \
            --set serviceAccount.name=aws-load-balancer-controller \
            --namespace kube-system

      # ------------------------
      # CREAR NAMESPACE SOLO SI NO EXISTE
      # ------------------------
      - name: Create namespace if not exists
        run: |
          kubectl get ns microservices || kubectl create ns microservices

      # ------------------------
      # APLICAR MANIFIESTOS NECESARIOS
      # ------------------------
      - name: Apply manifests
        run: |
          kubectl apply -n microservices -f k8s/postgres
          kubectl apply -n microservices -f k8s/redis
          kubectl apply -n microservices -f k8s/product-service
          kubectl apply -n microservices -f k8s/inventory-service
          kubectl apply -n microservices -f k8s/ingress

