name: CD - Deploy Frontend to EKS 

on:
  workflow_run:
    workflows: ["CI - Build & Push Frontend to ECR"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    env:
      ENVIRONMENT: ${{ github.event.workflow_run.head_branch }}   # main | dev | test
      CLUSTER_NAME: ${{ github.event.workflow_run.head_branch }}-eks-cluster
      LAMBDA_NAME: pipeline-notify-${{ github.event.workflow_run.head_branch }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # ------------------------
      # CONFIGURAR CREDENCIALES AWS
      # ------------------------
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      # ------------------------
      # OBTENER KUBECONFIG DEL CLUSTER
      # ------------------------
      - name: Update kubeconfig
        run: |
          echo "Usando cluster: $CLUSTER_NAME"
          aws eks update-kubeconfig \
            --region ${{ secrets.AWS_REGION }} \
            --name $CLUSTER_NAME

      # ------------------------
      # CREAR NAMESPACE SOLO SI NO EXISTE
      # ------------------------
      - name: Create namespace if not exists
        run: |
          kubectl get ns microservices || kubectl create ns microservices


      # -----------------------------
      # REEMPLAZAR VARIABLES SOLO EN API-GATEWAY
      # -----------------------------
      - name: Reemplazar variables en manifests (API Gateway)
        env:
          AWS_ACCOUNT: ${{ secrets.AWS_ACCOUNT }}
          ENVIRONMENT: ${{ env.ENVIRONMENT }}
        run: |
          find k8s/api-gateway -type f -name "*.yaml" -print0 | while IFS= read -r -d '' file; do
            sed -i "s|\${AWS_ACCOUNT}|${AWS_ACCOUNT}|g" "$file"
            sed -i "s|\${ENVIRONMENT}|${ENVIRONMENT}|g" "$file"
          done

      # ------------------------
      # APLICAR MANIFIESTOS DEL FRONTEND
      # ------------------------
      - name: Deploy Frontend (API Gateway)
        env:
          ECR_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
        run: |
          echo "Aplicando manifests del entorno: $ENVIRONMENT"
          sed -i "s|\${ECR_REGISTRY}|$ECR_REGISTRY|g" k8s/api-gateway/deployment.yaml
          sed -i "s|\${ENVIRONMENT}|$ENVIRONMENT|g" k8s/api-gateway/deployment.yaml

          kubectl apply -n microservices -f k8s/api-gateway
